html(lang="en")
    head 
        include ./utils/headerLinks.pug
        link(rel="stylesheet", href="/styles/products/products.css")
    body 
        include ./component/header.pug
        div.con
            include ./component/navLinks.pug
            h2.container.categoryTitle beauty
            include ./component/beauty.pug

            h2.container.categoryTitle fragrances
            include ./component/fragrances.pug

            h2.container.categoryTitle groceries
            include ./component/groceries.pug

        include ./component/footer.pug


    script. 
        let token=document.cookie.split("=")[1]
        let searchInput=document.querySelector(".search input");
        let addToCart=document.querySelectorAll("#addToCart");
        let productsSearch=document.getElementsByClassName("productsSearch");
        const baseURL = !{JSON.stringify(baseURL)};

        if(token){
            document.getElementsByClassName("singIn")[0].classList.add("disapeare");
            document.getElementsByClassName("profile")[0].classList.remove("disapeare");
            document.getElementsByClassName("logout")[0].classList.remove("disapeare");
        }
        else{
            document.getElementsByClassName("profile")[0].classList.add("disapeare");
            document.getElementsByClassName("logout")[0].classList.add("disapeare");
            document.getElementsByClassName("singIn")[0].classList.remove("disapeare");
        }
        document.querySelector(".logout button").onclick=()=>{
            document.cookie=" token= ";
            window.location.href="/register"
        }
        
        
        addToCart.forEach((button)=>{
            button.addEventListener("click",async(e)=>{
                let productId=button.getAttribute("data-id");
                let newPrice=button.getAttribute("data-price");
                try{
                    if(token){
                        let res = await fetch(`${baseURL}/api/cart`,{
                            method:"POST",
                            headers:{
                                "Content-Type":"application/json",
                                "Authorization":`Bearer ${token}`,
                            }, 
                            body:JSON.stringify({productId:productId,newPrice:newPrice})
                        })
                        let data=await res.json();
                        lengthCart()
                        console.log(data);
                        console.log(productId)
                    }else{
                        window.location.href="/register";
                    }
                }
                catch(err){
                    console.log(err);
                }
                
            })
        })

        

        searchInput.addEventListener("keyup",async(e)=>{
            productsSearch[0].innerHTML=""
            let searchTitle=searchInput.value;
            if(searchTitle){
                productsSearch[0].style.display="block";
            }else{
                productsSearch[0].style.display="none";
            }
            try{
                let res=await fetch(`${baseURL}/api/search`,{
                    method:"POST",
                    headers:{
                        "Content-Type":"application/json",
                        "Authorization":`Bearer ${token}`,
                    },
                    body:JSON.stringify({title:searchTitle})
                })
                let data = await res.json();
                console.log(data);
                data.searchedProducts.forEach((item)=>{
                    productsSearch[0].innerHTML+=`
                        <li><a href='/products/${item._id}'>${item.title}</a></li>
                    `
                })
            }
            catch(err){
                console.log(err);
            }
            if(e.key == "Enter"){
                window.location.href=`/search/${searchTitle}`
            }
        })
        
        async function lengthCart(){
            try{
                if(token){
                    let res= await fetch(`${baseURL}/api/cart`,{
                        method:"GET",
                        headers:{
                            "Content-Type":"application/json",
                            "Authorization":`Bearer ${token}`,
                        }, 
                    });
                    let data = await res.json();
                    if(data.status === "success"){
                        document.getElementsByClassName("counter")[0].innerText=data.products.length;
                    }
                    else{
                        throw data.message
                    }
                }
            }
            catch(err){
                console.log(err)
            }
        }
        lengthCart()

