html(lang="en")
    head
        include ./utils/headerLinks.pug
        title resetPassword Page
        link(rel="stylesheet", href="/styles/resetPassword/resetPassword.css")
    body 
    form#form
        h1 Reset Password
        div.con
            div.password
                label(for='password') Password
                input#password(type='password' placeholder='************')
            div.confirm
                label(for='confirm') Confirm Password
                input#confirm(type='password' placeholder='************')
            input#submit(type='submit' value="submit") 
    
    script. 
        let password=document.getElementById("password");
        let confirm=document.getElementById("confirm");
        let submit=document.getElementById("submit");
        let form=document.getElementById("form");
        let passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&*!])[A-Za-z\d@#$%^&*!]{8,}$/;

        submit.addEventListener("click",async(e)=>{
            e.preventDefault();
            let errorArray=[];
            let successMessage="";
            if( passwordRegex.test(password.value) && passwordRegex.test(confirm.value) && password.value === confirm.value ){
                let bodyValue={
                    password:password.value
                }
                try{
                    let res=await fetch("http://localhost:5000/api/resetPassword",{
                        method:"POST",
                            headers:{
                                "Content-Type":"application/json"
                            },
                            body:JSON.stringify(bodyValue)
                    })
                    let data=await res.json();
                    if(data.status === "fail"){
                        errorArray.push(data.message);
                        countLogin++;
                    }
                    else{
                        successMessage=data.message;
                        setTimeout(()=>{
                            window.location.href="/login"
                        })
                    }
                }
                catch(err){
                    console.log(err)
                }
            }else{
                if(!passwordRegex.test(password.value) ){
                    errorArray.push("Password ")
                }
                if(!passwordRegex.test(confirm.value) ){
                    errorArray.push("Confirm")
                }
                if(password.value !== confirm.value){
                    errorArray.push("the password is not same the confirm password")
                }
            }
        
            if(errorArray.length>0){
                let Div=document.createElement("div");
                Div.classList.add("error");

                let message=document.createElement("p");
                if(errorArray[0].includes("correct") || errorArray[0].includes("registered")){
                    message.innerText=errorArray[0];
                }else{
                    message.innerText=`The ${errorArray[0]} Not Vaild`;
                }

                let closeBtn=document.createElement("button");
                closeBtn.innerText="x";
                closeBtn.onclick=()=>{Div.remove()}
                setTimeout(()=>{
                    Div.remove();
                },2000)

                Div.appendChild(closeBtn);
                Div.appendChild(message);
                document.body.appendChild(Div);
            }else{
                let Div=document.createElement("div");
                Div.classList.add("success");

                let message=document.createElement("p");
                message.innerText=successMessage;

                let closeBtn=document.createElement("button");
                closeBtn.innerText="X";
                closeBtn.onclick=()=>{Div.remove()}
                setTimeout(()=>{
                    Div.remove();
                },3000)

                Div.appendChild(closeBtn);
                Div.appendChild(message);
                document.body.appendChild(Div);
            }


        })

